@import "./mixin";

.top {
  &__signin {
    max-width: 400px;
    padding: 0 20px;
    margin: 60px auto;
    &_button {
      margin-top: 40px;
      text-align: center;
    }
    &_pass {
      margin: 60px 0;
      text-align: center;
    }
  }
  &_table {
    min-width: 1200px;
  }
  &_iconLeft {
    position: absolute;
    top: 50%;
    left: -8px;
    width: 60px;
    transform: translateY(-50%) scale(-1, 1);
  }
  &_iconRight {
    position: absolute;
    top: 50%;
    right: -8px;
    width: 60px;
    transform: translateY(-50%);
  }
}
